<script setup lang="ts">
import { useI18n } from 'vue-i18n'
import { useMainStore } from "../store/index";
import { computed } from 'vue';


const { locale } = useI18n()
const store = useMainStore()
const onChange = (e: string) => {
  if (e) {
    store.setLangauge(e);
    locale.value = e;
  }
}

const langauge = computed(() => store.langauge);

</script>

<template>
  <el-select v-model="langauge" class="m-6" @change="onChange">
    <el-option value="en">
      en
    </el-option>
    <el-option value="ua">
      ua
    </el-option>
  </el-select>
</template>